<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet" />
    <!-- Fa CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <!-- My CSS -->
    <link rel="stylesheet" href="/assets/build/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/bootstrap.min.css" />
    <!-- Bootstrap JS -->
    <script src="/assets/vendor/js/bootstrap.min.js"></script>
    <!-- Get Data From Rest API -->
    <script src="/assets/build/ip.js"></script>
    <!-- <script src="test.js"></script> -->
    <title>IP Address - Mikrotik Monitor</title>
</head>
<body>
    <!-- Navbar Section -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav fs-5">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ip.html">IP Address</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="user_active.html">User Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="user_connected.html">User Connected</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ppp.html">PPPoE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="voucher.html">Voucher</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar Section -->
    <!-- Header Section -->
    <header class="container my-4 text-center">
        <h1>INI HEADER</h1>
    </header>
    <!-- End Header Section -->
    <!-- Content Section -->
    <!-- Responsive table for Mobile Devices -->
    <div class="container table-responsive rounded-3 border bg-body-tertiary pt-2 shadow">
        <p>Total IP Address : <span id="total_ip"></span></p>
        <table class="table table-bordered">
            <thead class="table-dark align-middle">
                <tr>
                    <th>No</th>
                    <th>IP Address</th>
                    <th>Network</th>
                    <th>Interface</th>
                </tr>
            </thead>
            <tbody id="tb_ip"></tbody>
        </table>
    </div>
    <!-- End Content Section -->
</body>
</html>